<h1>New photo</h1>

<!-- Pick photos by username -->
<p id="pick_by_username">Displaying interesting photos.&nbsp;<%= link_to_function("Pick by username instead.",
"Element.remove('pick_by_username'); Element.show('enter_username')")%></p>
<div id="enter_username" style="display:none;">
<% form_remote_tag(:url => {:action => 'pick_by_username'},
    :update => "photo_picker",
    :html => {:id => 'username_form'}) do %>
Username: <%= text_field_tag "username" %>
<%= submit_tag 'Find photos' %>
<% end %>
</div>

<%= render_flickr_widget @photos, 'picker' %>

<%= link_to 'Back', flickr_photos_path %>
