<h1>New photo</h1>

<% photolist = interesting %>
<% form_for(@flickr_photo) do |f| %>
	<%= f.error_messages %>
	<% photolist.each do |p| %>
		<div class="field">
			<%= f.radio_button :flickrid, p.flickrid %>
			<%= link_to(image_tag(p.url_sq, :class => 'flickr_photo', :size => '75x75'), p.photopage) %>
		</div>
	<% end %>
  <div class="actions">
    <%= f.submit 'Pick Photo' %>
  </div>
<% end %>

<%= link_to 'Back', flickr_photos_path %>
